/* 카테고리별 추천 광고상품 */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin: 10rem 0 4.8rem;
}

.header-link {
  display: inline-block;
}

/* category section */

.category-section {
  margin-bottom: 1.4rem;
}

.category-title {
  margin-bottom: 2.4rem;
}

.category-title .en-title {
  font-size: 1.6rem;
  line-height: 115%;
  letter-spacing: 0;
  font-weight: 500;
}

.category-title .ko-title {
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: 0;
  font-weight: 700;
}

.category-title .ko-title span {
  color: var(--color-blue-600);
}

/* category product area */

.category-product-area {
  display: flex;
  margin-bottom: 2.4rem;
  border-top: 0.1rem solid;
  border-bottom: 0.1rem solid;
}

.category-product-area:last-child {
  margin-bottom: 0;
}

.product-area-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.8rem 2.6rem 3.2rem 2.4rem;
}

.product-area-header .title {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  line-height: 115%;
  letter-spacing: 0;
  font-weight: 500;
}

.product-area-header .shortcut {
  color: var(--color-gray-700);
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

.product-area-header .shortcut::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.4rem;
  background-image: url('../../assets/icon/angle-right-default.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.product-area-header .sub-title {
  margin-bottom: 1.2rem;
  color: var(--color-black);
  font-size: 1.8rem;
  line-height: 115%;
  letter-spacing: 0;
  font-weight: 500;
}

.hot-keyword-list {
  width: 12.4rem;
}

.hot-keyword-item {
  margin-bottom: 1.2rem;
}

.hot-keyword-item:last-child {
  margin-bottom: 0;
}

.hot-keyword {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 120%;
  letter-spacing: 0;
  border: 0.1rem solid var(--color-gray-400);
}

.hot-keyword::before {
  content: '#';
}

.carousel {
  position: relative;
  width: 32rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-list {
  display: flex;
  height: 100%;
}

.carousel-item {
  position: relative;
  height: 100%;
}

.carousel-img {
  display: block;
  width: 32rem;
  height: 100%;
}

.carousel-desc {
  position: absolute;
  bottom: 5.8rem;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 26rem;
  height: 9rem;
  transform: translateX(-50%);
  color: var(--color-white);
}

.carousel-desc strong {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

.carousel-desc span {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 400;
}

.carousel-indicator-group {
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator-group .indicator {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-gray-600);
  border: none;
}

.carousel-indicator-group .indicator:last-child {
  margin-right: 0;
}

.carousel-indicator-group .indicator.is-active {
  background-color: var(--color-gray-700);
}

/* houseware */

.houseware.category-product-area {
  border-color: var(--color-brown-300);
}

.houseware .product-area-header {
  color: var(--color-brown-300);
}

.houseware .carousel-desc {
  background-color: var(--color-brown-300);
}

.product-list {
  position: relative;
  display: flex;
  padding: 0.8rem 0;
}

.product-list:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 52.8rem;
  height: 0.05rem;
  background-color: #aaa9a9;
}

.product-item {
  width: 16rem;
  height: 30rem;
  margin-right: 1.6rem;
}

.product-item:first-child {
  margin-left: 1.6rem;
}

.product-item:last-child {
  margin-right: 0;
}

.product-img {
  display: block;
  width: 16rem;
  height: 16rem;
  margin-bottom: 1.2rem;
}

.product-item-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.product-desc {
  padding: 0 0.4rem;
}

.product-item-name {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 400;
}

.price-type {
  display: block;
  margin-bottom: 0.4rem;
  color: var(--color-red-500);
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0;
}

.product-detail {
  display: flex;
  align-items: center;
}

.product-item-price {
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

.product-item-price span {
  margin-left: 0.4rem;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0;
}

.delivery-type {
  margin-left: 0.6rem;
}

/* kitchenware */

.kitchenware.category-product-area {
  border-color: var(--color-green-700);
}

.kitchenware .product-area-header {
  color: var(--color-green-700);
}

.kitchenware .carousel-desc {
  background-color: var(--color-green-700);
}
